DADOS/microdados_enem_2023.csv
DADOS/DicionarioEnem2023.csv
DADOS/MICRODADOS_ENEM_2023.csv
DICIONÁRIO/Dicionário_Microdados_Enem_2023.csv
DICIONÁRIO/Dicionário_Microdados_Enem_2023.ods
microdados_enem_2023/
microdados_enem_2023/
bfg.jar
